# **My Python First Program "Print HeLLo World"**

---

In [ ]:
print("Hello World")

Hello World

# **Variables and Assignment Statements**

---

In [ ]:
x=7
y=3
print(x+y)

10

In [ ]:
total = x+y
print(total)

10

In [ ]:
name = "Adam"
name2 = "Eva"
print(name , name2)

Adam Eva

# **Types**

---

In [ ]:
x =10
type(x)

int

In [ ]:
type(10.5)

float

In [ ]:
type(name)

str

# **Arithmetic operators**

---

In [ ]:
 multiplication = 7*4
 print(multiplication)

28

In [ ]:
add = 10+15
print(add)

25

In [ ]:
sub = 40-8
print(sub)

32

In [ ]:
Exponentiation = 2**10
print(Exponentiation)

1024

True Division (/) vs. Floor Division (//)

In [ ]:
True_Division = 7/4
print(True_Division)

1.75

In [ ]:
Floor_Division = 7//4
print(Floor_Division)

1

In [ ]:
remainder = 15%7
print(remainder)

1

# **Relational Operators**

---

In [ ]:
x = 105
y = 100

In [ ]:
x>y

True

In [ ]:
x<y

False

In [ ]:
x==y

False

In [ ]:
x!=y

True

In [ ]:
x>=y

True

In [ ]:
x<=y

False

Chaining Comparisons

In [ ]:
x = 3
y = 10

In [ ]:
1 <= x <= 5

True

In [ ]:
1 <= y <= 5

False

# **Print Function**

---

Printing a Comma-Separated List of Items

In [ ]:
print('Welcome', 'to', 'Python!')

Welcome to Python!

Printing Many Lines of Text with One Statement

In [ ]:
print('Welcome\nto\n\nPython!')

Welcome
to

Python!

Ignoring a Line Break in a Long String

In [ ]:
print('this is a longer string, so we \
 split it over two lines')

this is a longer string, so we  split it over two lines

Printing the Value of an Expression

In [ ]:
print('Sum is', 7 + 3)

Sum is 10

What does the following print statement display?

**print('int(5.2)', 'truncates 5.2 to', int(5.2))**

In [ ]:
print('int(5.2)', 'truncates 5.2 to', int(5.2))

int(5.2) truncates 5.2 to 5

Including Quotes in Strings

In [ ]:
print('Display "hi" in quotes')

Display "hi" in quotes

In [ ]:
print('Display \'hi\' in quotes')   #using the \' escape sequence:

Display 'hi' in quotes

In [ ]:
print("Display the name O'Brien")

Display the name O'Brien

In [ ]:
print("Display \"hi\" in quotes")

Display "hi" in quotes

To avoid using \' and \" inside strings, you can enclose such strings in triple quotes:

In [ ]:
print("""Display "hi" and 'bye' in quotes""")

Display "hi" and 'bye' in quotes

Multiline Strings

In [ ]:
triple_quoted_string = """This is a triple-quoted
string that spans two lines"""

In [ ]:
print(triple_quoted_string)

This is a triple-quoted
string that spans two lines

In [ ]:
triple_quoted_string

'This is a triple-quoted\nstring that spans two lines'

In [ ]:
print("""This is a lengthy
multiline string containing
a few lines \
of text""")

This is a lengthy
multiline string containing
a few lines of text

Precision Handling in Python

In [ ]:
a = 3.4536475856

In [ ]:
# using "%" to print value till 2 decimal places  
print ("The value of number till 2 decimal place(using %) is : ",end="") 
print ('%.2f' %a)

The value of number till 2 decimal place(using %) is : 3.45

In [ ]:
# using "%" to print value till 4 decimal places  
print ("The value of number till 2 decimal place(using %) is : ",end="") 
print ('%.4f' %a)

The value of number till 2 decimal place(using %) is : 3.4536

# **Getting Input from the User**
The built-in input function requests and obtains user input:

In [ ]:
name = input("What's your name? ")

What's your name? shifat

In [ ]:
print(name)

shifat

In [ ]:
value1 = input('Enter first number: ')
value2 = input('Enter second number: ')

Enter first number: 30
Enter second number: 40

In [ ]:
total = value1 + value2
print(total)

3040

In [ ]:
type(total) #python takes input as a string we have to type cast the input

str

In [ ]:
total = int(value1) + int(value2) #type casting to int format
print(total)

70

Getting an Integer from the User by casting the input format

In [ ]:
another_value = int(input('Enter another integer: '))

Enter another integer: 10

In [ ]:
print(another_value)

10

**Taking multiple input from the user**

In [ ]:
a, b = input().split()

10 20

In [ ]:
print(a , b)

10 20

In [ ]:
print(type(a))

<class 'str'>

# Solving Problem

**Determining the Minimum and Maximum with Built-In Functions min and max**


---

In [ ]:
number1 = int(input('Enter first integer: '))
number2 = int(input('Enter second integer: '))
number3 = int(input('Enter third integer: '))

Enter first integer: 20
Enter second integer: 50
Enter third integer: 100

In [ ]:
min(number1,number2,number3)

20

In [ ]:
max(number1,number2,number3)

100

#***Exercises***

---



**Create the variables x = 2 and y = 3, then determine what
each of the following statements displays:**

*  print('x =', x)
*  print('Value of', x, '+', x, 'is', (x + x))
*  print('x =')
*  print((x + y), '=', (y + x))


---

In [1]:
x = 2
y = 3

In [2]:
print('x =', x)

x = 2

In [3]:
print('Value of', x, '+', x, 'is', (x + x))

Value of 2 + 2 is 4

In [4]:
print('x =')

x =

In [5]:
print((x + y), '=', (y + x))

5 = 5